.search{
	z-index: 3;
	position:relative;
	background: #2b303b;
	border: none;
	font-size: 11pt;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
	width: 40%;
	height: 10px;
	margin-right: auto;
	margin-left: auto;
	float: center;
	white-space: nowrap;
	display: inline-block;
	padding: 20px;
	margin: 20px;
}

.search::-webkit-input-placeholder {
	color: #65737e;
}
.search::-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
}
.search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;  
}
.search:-ms-input-placeholder {  
	color: #65737e;  
}


/* ANIMATION EFFECTS */
.search:focus, .search:active{
	outline:none;
	color: black;
	background: #ffffff;
}

.pac-container { 
	z-index: 10;
	margin-top: 5px;
	border: none; 
	background: #fff; 
	border-radius: 10px;
	cursor: default; 
	overflow: auto; 

}

.autocomplete-suggestion { 
padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
